@model NldtLession10Db.Models.NldtAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Nldt_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NldtAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NldtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NldtPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldtPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NldtFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldtFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NldtEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldtEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NldtPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldtPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NldtActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NldtActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
