
@{@model NldtLession10Db.Models.NldtAccount
ViewBag.Title = "Nldtlogin";
Layout = "~/Views/Shared/Nldt_Layout.cshtml";
}

<h2>dang nhap he thong</h2>

@using (Html.BeginForm()){
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.LabelFor(model => model.NldtName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NldtName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NldtName, "", new { @class = "text-danger" })
            </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NldtPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NldtPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NldtPassword, "", new { @class = "text-danger" })
            </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="NLDT : login" class="btn btn-ptimary my-2" />
            </div>
        </div>
    </div>
}

